@media screen and (min-width: 800px) {
	/* Header */
	/* Nav Design */
	header nav div.container {
		width: min(95%, 1140px);
		margin: 0 auto;
	}
	.logo {
		width: 30%;
	}
	.navMenu {
		width: min(50vw, 420px);
		position: initial;
		opacity: 1;
		visibility: visible;
		transform: none;
		inset: unset;
		min-height: auto;
		padding-top: initial;
		background-color: initial;
		transition: transform 0s, opacity 0s, visibility 0s;
	}
	header nav .navMenu.active {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
		box-shadow: none;
	}
	.navMenu ul {
		flex-direction: row;
		justify-content: space-between;
	}
	.navMenu ul li {
		opacity: 1;
		padding: 0.4rem 0;
		margin-bottom: initial;
	}
	/* navMenu li bottom active desien */
	.navMenu li::after {
		bottom: 0;
	}
	/* Slider-container */
	.slider-container :is(.prev, .next) {
		opacity: 1;
		visibility: visible;
	}
	/* Header-content Design */
	.header-content {
		padding: 18vmax 20vw 0;
	}
	.header-content h1 {
		font-weight: 700;
	}
	.header-content h2 {
		letter-spacing: 2.5px;
	}
	/* Control burger */
	.hamburger {
		display: none;
	}

	/* About */
	.about-title {
		margin: clamp(20px, 2.2vw, 2rem) 0 clamp(1rem, 2.2vw, 2rem);
	}
	#about .about-content .center .introduction div p {
		font-size: 1.1vw;
	}
	#about .about-content .center .introduction .information a {
		font-size: unset;
	}

	/* Service */
	.service-title-text {
		width: 70%;
	}

	.service-content > section {
		width: 35vw; /* Tablet only */
		margin-bottom: unset;
	}
	.service-content > section h3 {
		font-weight: 500;
	}
	.service-content > section p {
		font-weight: initial;
		font-size: 16px;
		line-height: inherit;
	}
	.service-content > section > div:nth-of-type(2) {
		padding: 1.6rem 0;
	}
	.service-content > section:nth-of-type(2)::before,
	.service-content > section:nth-of-type(2)::after {
		content: "";
		display: block;
		height: 1px;
		border-top: 2px dashed #ccc;
		position: absolute;
		top: 5rem;
	}
	.service-content > section:nth-of-type(2)::before {
		width: 13.725vw; /* Tablet*/
		left: -12.725vw; /* Tablet*/
	}
	.service-content > section:nth-of-type(2)::after {
		width: 330px;
		top: calc(8rem - 4vw);
		left: -5.8625vw;
		transform-origin: left;
		transform: rotate(90deg);
	}

	/* Work */
	.work-content {
		--grid-number: 3;
		--figure-size: max(24vw, 230px);
		--grid-gap: clamp(1rem, 2.5vw, 3rem);
	}

	/* Contact */
	.contact-input-name,
	.contact-input-mail {
		flex-basis: 45%;
	}
	#contact .social p {
		display: initial;
	}
	#contact .alert {
		width: 100%;
	}
	#contact button {
		cursor: pointer;
	}
}
